services:
  nuntiare:
    name: nuntiare
    build: .
    ports:
      - "6532:6532"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - BLOCKCHAIN_SERVICE_URL=${BLOCKCHAIN_SERVICE_URL}
      - SMART_CONTRACT_ADDRESS=${SMART_CONTRACT_ADDRESS}
      - DEVELOPMENT=${DEVELOPMENT}
    depends_on:
      - postgres

  postgres:
    name: postgres
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: